{% extends 'base.html' %}
{% block page_aide %}
	<li class="active">
{% endblock page_aide %}
{% block content %}
	<br>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Aide				
			</h3>
			</div>
				<div class="panel-body">
					{% for d in dataAide %}
						<hr align=left style="color: #0040FF; height:2px; background-color: #5882FA;" /> 
						<h4><b>{{ d.cle }}</b></h4>
						<p>{{ d.definition }}</p>
						<hr align=left style="color: #0040FF; height:3px; background-color: #5882FA;" /> 
						</br>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% if obt %}
		<script>
		alert("Vous venez d'obtenir le badge 'cultivé'")
		</script>
	{% endif %}
{% endblock content %}
