{% extends "base.html" %}
{% load staticfiles %}
{% block page_profil %}
	<li class="dropdown active">
	<link rel="stylesheet" href="{% static 'appli/codemirror/docs.css' %}">
{% endblock page_profil %}
{% block content %}
	<h1>Tous les badges</h1>
	<br>
	<br>
	<center>
		<div class="well" style="width:1000px">
			<h1>Vos badges</h1>
			{% for b in badges %}
				<img src="{% static 'appli/badges/' %}{{ b.image }}" title={{ b.nom }}>
			{% endfor %}
			<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</br>
		</div>
	</center>
{% endblock %}
