{% extends "base-react.html" %}

{% load staticfiles %}

{% block content %}
  <div id="nav"></div>
  <div id="content" class="container bs-docs-container" ></div>
{% endblock %}

{% block scripts %}
{{ block.super }}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.7.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.7.0/mode/javascript/javascript.min.js"></script>
<script src="{% static 'appli/appli-react.js' %} " ></script>


{% endblock scripts %}
