{% extends "base.html" %}
{% block page_exo %}
	<li class="active">
{% endblock page_exo %}
{% block content %}
	<br>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Rechercher des exercices			
			</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-12">
				<form action="{% url 'appli.views.rechercher_exercice' %}" method="post" class="form-horizontal" role="form">
					{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-2 control-label">Nom de l'exercice</label>
						<div class="col-xs-3">
								<!--
								<input type="text" class="form-control" name="nom_exercice">
								-->{{ form.nom_exercice }}
						</div>
					</div>
					<br>
					<h4>Vous pouvez sélectionner des tags en appuyant sur Ctrl</h4>
					<br>
					<div class="col-xs-5" >
						<!--
						<select multiple class=" form-control">
						{% for elem in tag %}
						<option>{{ elem }}</option>
						{% endfor %}
						</select>
						-->

						{{ form.select_tags }}
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Rechercher</button>
				</form> 
			</div>
		</div>
	</div>   
	<br><br>
	<h2>Résultats</h2><br>   
	<form class="form-horizontal" role="form">
		<label class="control-label col-xs-1">Trier par</label>
		<div class="col-xs-2 ">
			<select class="form-control ">
			<option>nom</option>
			<option>appréciation</option>
			<option>difficulté</option>
			</select>   
		</div>
	</form>
	<br><br><br>
	{% for elem in rep %}
		<div class="well">
			<h4> {{ elem.titre }} </h4>
			{% for t in elem.tags %}
				<span class="label label-info ">{{ t.nom }}</span>
			{% endfor %}
			<br><br>
			<p>
				{{ elem.enonce }}
			</p>
			<a href="{% url 'appli.views.exercice' elem.id %}"><button type="button" class="btn btn-primary btn-sm">S'entrainer &raquo;</button></a>
		</div>
	{% endfor %}
{% endblock %}
