{% extends "base.html" %}
{% block page_exo %}
	<li class="active">
{% endblock page_exo %}
{% block content %}
	<br>
	<br>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Rechercher un ensemble d'exercices 			
			</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-12">
				<form action="{% url 'appli.views.rechercher_exercice' %}" method="post" class="form-horizontal" role="form">
					{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-2 control-label">Nom du parcours</label>
						<div class="col-xs-3">
								{{ form.nom_exercice }}
						</div>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Rechercher</button>
				</form> 
			</div>
		</div>
	</div>   
	<br><br>
	<h2>Résultats</h2><br>   
	<form class="form-horizontal" role="form">
		<label class="control-label col-xs-1">Trier par</label>
		<div class="col-xs-2 ">
			<select class="form-control ">
			<option>nom</option>
			</select>   
		</div>
	</form>
	<br><br><br>
	{% for elem in rep %}
		<div class="well">
			<h4> {{ elem.titre }} {{ elem.nb_etape }} </h4>
			<br>
			{% for step in elem.detail %}
				{{ step.titre_etape }}<br>
				<ul>
				{% for ex in step.a %}
					<li>{{ ex }}</li><br>
				{% endfor %}
				</ul>
			{% endfor %}
			<button type="button" class="btn btn-primary btn-sm">Faire le parcours &raquo;</button></a>
		</div>
	{% endfor %}
{% endblock %}
