body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
